/* Add CSS Styling */

.red-background {
    background-color: lightcoral;
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

.large-font {
    font-size: 24px;
}

#blue-font {
    font-size: 36px;
    color: blue;

}

#green-background {
    font-size: 24px;
    font-weight: bold;
    background-color: lightgreen;
}